<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head", {title: "AUTH"}) %>
  </head>
  <body>
    <%- include("includes/header") %>

    <main>
      <h1>You are not authenticate. 401</h1>
    </main>
  </body>
</html>
