<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head", {title: "Admin"}) %>
  </head>
  <body>
    <%- include("includes/header") %>

    <main>
      <h1>Welcome to Auth website</h1>
    </main>
  </body>
</html>
